<h4 class="create-account-label">Create Account For</h4>
<mat-tab-group mat-align-tabs="start" animationDuration="600ms" class="account_switcher_tab">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="icon-lt_ic_landlord"></span> &nbsp;Landlord
    </ng-template>
    <form class="signup-form-input-wrapper">
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Name <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter email">
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Mobile Number <span style="color:red;">*</span></label>
        <input type="text" class="form-control credential-ip pb-0" placeholder="Password">
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Email <span style="color:red;">*</span></label>
        <input type="text" class="form-control credential-ip pb-0" placeholder="Enter Your Email">
      </div>
      <div class="form-group mt-35">
        <label>Number of property <span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Password <span style="color:red;">*</span></label>
        <input type="password" class="form-control credential-ip" placeholder="Password">
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Confirm Password <span style="color:red;">*</span></label>
        <input type="password" class="form-control credential-ip input_type_validation" placeholder="Confirm Password">
        <small class="validation__text">Password does not match please check</small>
      </div>
      <button type="button" class="btn btn-btn-primary btn-submit-button">Submit</button>
    </form>
    <p class="hv-acc">Don’t have an account ? <a> Sign Up</a></p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="icon-lt_ic_company"></span> &nbsp;Company
    </ng-template>
    <form class="signup-form-input-wrapper">
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Company Name <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter email">
      </div>
      <div class="form-group mt-35">
        <label>Number of Agents <span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group mt-35">
        <label>Number of Properties<span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group mt-35">
        <label>Number of Employees <span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Mobile Number <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter email">
      </div>
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Email <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter email">
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Password <span style="color:red;">*</span></label>
        <input type="password" class="form-control credential-ip" placeholder="Password">
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Re-enter Password <span style="color:red;">*</span></label>
        <input type="password" class="form-control credential-ip input_type_validation" placeholder="Re-enter Password">
        <small class="validation__text">Password does not match please check</small>
      </div>
      <button type="button" class="btn btn-btn-primary btn-submit-button">Submit</button>
    </form>
    <p class="hv-acc">Don’t have an account ? <a> Sign Up</a></p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="icon-lt_ic_agent"></span> &nbsp;Agent
    </ng-template>
    <form class="signup-form-input-wrapper">
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Name <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter email">
      </div>
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Mobile Number <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter Mobile Number">
      </div>
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Email <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter Email">
      </div>
      <div class="form-group mt-35">
        <label>City <span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group mt-35">
        <label>Experience in <span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group mt-35">
        <label>Area of Working <span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Broker License Number <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter Broker License Number">
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Password <span style="color:red;">*</span></label>
        <input type="password" class="form-control credential-ip" placeholder="Password">
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Re-enter Password <span style="color:red;">*</span></label>
        <input type="password" class="form-control credential-ip input_type_validation" placeholder="Re-enter Password">
        <small class="validation__text">Password does not match please check</small>
      </div>
      <button type="button" class="btn btn-btn-primary btn-submit-button">Submit</button>
    </form>
    <p class="hv-acc">Don’t have an account ? <a> Sign Up</a></p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="icon-lt_ic_tenant"></span> &nbsp;Tenant
    </ng-template>
    <form class="signup-form-input-wrapper">
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Name <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter Name">
      </div>
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Mobile Number <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter Mobile Number">
      </div>
      <div class="form-group pt-25">
        <label for="exampleInputEmail1">Email <span style="color:red;">*</span></label>
        <input type="email" class="form-control credential-ip" placeholder="Enter Email">
      </div>
      <div class="form-group mt-35">
        <label>Country <span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group mt-35">
        <label>Experience in <span style="color:red;">*</span></label>
        <select class="form-control credential-ip pb-0">
          <option>Please Select Number of Property</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Password <span style="color:red;">*</span></label>
        <input type="password" class="form-control credential-ip" placeholder="Password">
      </div>
      <div class="form-group mt-35">
        <label for="exampleInputPassword1">Re-enter Password <span style="color:red;">*</span></label>
        <input type="password" class="form-control credential-ip input_type_validation" placeholder="Re-enter Password">
        <small class="validation__text">Password does not match please check</small>
      </div>
      <button type="button" class="btn btn-btn-primary btn-submit-button">Submit</button>
    </form>
    <p class="hv-acc">Don’t have an account ? <a> Sign Up</a></p>
  </mat-tab>
</mat-tab-group>


