<section class="banner--wrapper">
  <div class="container-fluid">
    <!--<div id="slider">
      <img class="show" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSDqevfCXRuHq9tu9Vgw6Uf2y28km1PHPBzoUsmEZk7EnOKojxxLg" alt="">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSmci6oBIssn6CxkxgsifIRbZXXU6Xk8WWrMq417R_VIBQXmwlx" alt="">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRykZv7PNKxrvYU4FJKEBhIK-eknQYz8X2ZiVHAdNCYbl8qQIIM" alt="">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRaLH77frDDwQ4UbuQj_7CxJ5tIqFgIQS2NdCea4_vT7wd8zdTf" alt="">
    </div>-->
  </div>
</section>
<section>
  <div class="filtter__content__wrapper">
    <!--searc are starts here-->
    <div class="search__input__wrapper">
      <div class="search__field__infix">
        <input type="text" placeholder="Search Here...." />
        <button type="button" class="search__ic__button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
    <!--searc are starts here-->
    <div class="row pt-15 pb-15 justify-flex-center gap-15px">
      <button class="btn button__switch__property">Appartment</button>
      <button class="btn button__switch__property">Villa</button>
      <button class="btn button__switch__property">Office</button>
      <button class="btn button__switch__property">Shop</button>
      <button class="btn button__switch__property">Ware House</button>
      <button class="btn button__switch__property">Labour Camp</button>
    </div>
    <div class="row justify-flex-center pt-30 filter__mobile__wrapper">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 filter__input__fields">
        <select class="form-select" aria-label="Default select example">
          <option selected>Beds</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 filter__input__fields">
        <select class="form-select" aria-label="Default select example">
          <option selected>Price Range</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 filter__input__fields">
        <select class="form-select" aria-label="Default select example">
          <option selected>Rental Period</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 filter__input__fields">
        <select class="form-select" aria-label="Default select example">
          <option selected>Area</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 filter__input__fields">
        <select class="form-select" aria-label="Default select example">
          <option selected>Furnishing</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">
        <div class="d-flex">
          <button class="btn btn-btn-primary display-none-web filter-btn" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-sliders"></i></button>
          <button class="btn btn-btn-primary btn-search">Search</button>
          <div class="dropdown-menu animate slideIn drop-down-menu-wishlist display-none-web" aria-labelledby="dropdownMenuButton2">
            <div class="ammenities__wrapper">
              <h5>Amenities</h5>
              <ul class="amenities__list">
                <li><span><img src="assets/images/ic_internet.svg" />Internet</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_seaview.svg" />Seaview</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_shared_gym.svg" />Shared Gym</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_shared_pool.svg" />Shared Pool</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_central_ac.svg" />Central AC</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_maids_room.svg" />Maids Room</span> <input type="checkbox" /></li>
              </ul>
              <span class="hr_line_50_perc"></span>
              <h5>Features</h5>
              <ul class="amenities__list">
                <li><span><img src="assets/images/ic_metro.svg" />Close to Metro</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_supermarket.svg" />Super Market</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_restaurant.svg" />Restaurant</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_family_friendly.svg" />Family Friendly</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_children_playground.svg" />Childrens Playground</span> <input type="checkbox" /></li>
                <li><span><img src="assets/images/ic_parks.svg" />Parks</span> <input type="checkbox" /></li>
              </ul>
              <span class="hr_line_50_perc"></span>
            </div>
          </div>
        </div>
 
      </div>
    </div>
  </div>
</section>



<!--<ul class="dropdown-menu animate slideIn drop-down-menu-wishlist" aria-labelledby="dropdownMenuButton2">
  <li>
    <a class="dropdown-item" href="#">My Account</a>
  </li>
  <li>
    <a class="dropdown-item" href="#">Sign Out</a>
  </li>
</ul>-->


<section class="property__listing">
  <div class="container p-0">
    <div class="row">
      <div class="col-lg-3 display-none-mob">
        <div class="ammenities__wrapper">
          <h5>Amenities</h5>
          <ul class="amenities__list">
            <li><span><img src="assets/images/ic_internet.svg" />Internet</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_seaview.svg" />Seaview</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_shared_gym.svg" />Shared Gym</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_shared_pool.svg" />Shared Pool</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_central_ac.svg" />Central AC</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_maids_room.svg" />Maids Room</span> <input type="checkbox" /></li>
          </ul>
          <span class="hr_line_50_perc"></span>
          <h5>Features</h5>
          <ul class="amenities__list">
            <li><span><img src="assets/images/ic_metro.svg" />Close to Metro</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_supermarket.svg" />Super Market</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_restaurant.svg" />Restaurant</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_family_friendly.svg" />Family Friendly</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_children_playground.svg" />Childrens Playground</span> <input type="checkbox" /></li>
            <li><span><img src="assets/images/ic_parks.svg" />Parks</span> <input type="checkbox" /></li>
          </ul>
          <span class="hr_line_50_perc"></span>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card__wrapper__Container property__listing_grids p-35">
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="property__card__wrapper">
                <div class="property__img__wrapper img-hover">
                  <div class="stage">
                    <div class="heart"></div>
                  </div>
                  <!--<div class="wish__list">
                  </div>-->
                  <img src="assets/images/lux-villa-1.jpg" />
                </div>
                <div class="property__Detail__content">
                  <h3>Luxury Villa</h3>
                  <div class="google-map-section">
                    <img src="assets/images/google-map-icon.svg" alt="google-icon" /><span>Nad Al Hamar</span>
                  </div>
                  <ul class="prprty__Features">
                    <li>
                      5 Bed
                      <img src="assets/images/ic__bed.svg" alt="bed" />
                    </li>
                    <li>
                      5 Bath
                      <img src="assets/images/ic__shower.svg" alt="shower" />
                    </li>
                    <li>
                      3450 Sqft
                      <img src="assets/images/ic__sqft.svg" alt="sqft" />
                    </li>
                  </ul>
                  <div class="offers__wrapper">
                    <button class="btn btn-offers"><i class="fas fa-tag"></i> 1 Month Free</button>
                    <div class="d-flex align-center pt-15">
                      <span class="" style="width:30px;"><img src="assets/images/ic_chair.svg" /></span>
                      <div class="fully__furniished">
                        Fully Furnished
                        <div class="progress progress__custome">
                          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="hr_line_100_perc"></span>
                  <div class="card__footer">
                    <div class="amount__wrapper">
                      <h6>125,000 AED  / Year</h6>
                    </div>
                    <div class="chat__button" style="display:none;">
                      <img src="assets/images/chat-now-button.png" alt="chat" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">

            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">

            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">

            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


