<div class="book-property-modal-wrapper">
  <div class="modal-header">
    Book This Property
    <a class="button_close" mat-dialog-close><img src="assets/images/close_icon.svg"></a>
  </div>
  <div class="modal-body">
    <div class="propertyDetails">
      <div class="row">
        <div class="col-md-6">
          <div class="property-photo-image-wrapper">
            <img src="assets/images/propert-image-sample.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="prop_detiles">
            <div class="fw">
              <p>PROPERTY NAME</p>
              <h2>2 Complex villas Mirdif</h2>
            </div>
            <div class="fw">
              <p>UNIT MODEL</p>
              <h2>4 Bedroom Hall</h2>
            </div>
            <div class="fw">
              <p>PROPERTY USE TYPE</p>
              <h2>Residential</h2>
            </div>
            <div class="fw">
              <p>UNIT</p>
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Villa 36A</option>
                  <option>Villa 36B</option>
                  <option>Villa 36C</option>
                  <option>Villa 36D</option>
                  <option>Villa 36E</option>
                </select>
              </div>
            </div>
            <div class="fw">
              <p>RENT</p>
              <h2 class="rent-Amount">1,50,000 AED</h2>
            </div>
            <!--<div class="fw">
            <p>PROPERTY NAME</p>
            <h2>2 Complex villas Mirdif</h2>
          </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="ct-qr-wrapper">
      <div class="client_type">
        <span>Client Type</span>
        <div class="d-flex">
          <div class="custom-fieldset-radio-btn">
            <button type="button" class="btn btn-custom-radio btn-custom-radio-selected">
              <i class="fas fa-check-circle pr-1 ng-star-inserted" style=""></i>
              Individual
            </button>
            <button type="button" class="btn btn-custom-radio">
              Company
            </button>
          </div>
        </div>
      </div>
      <div class="qr-scanner">
        <img src="assets/images/qr-scanner.svg" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Tenant Name <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Tenant Name In Arabic</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Nationality <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Mobile Number <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Email <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Gender <span style="color: red;">*</span></label>
          <div class="d-flex">
            <div class="custom-fieldset-radio-btn">
              <button type="button" class="btn btn-custom-radio btn-custom-radio-selected">
                <i class="fas fa-check-circle pr-1 ng-star-inserted" style=""></i>
                Male
              </button>
              <button type="button" class="btn btn-custom-radio">
                Female
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Date of Birth <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Company Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Designation</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Lease Period Start / End Date</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="subheadingText">Address</h4>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Home Country <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Resident Country <span style="color: red;">*</span></label>
          <select class="form-control mb-30" id="exampleFormControlSelect1">
            <option>United States</option>
            <option>India</option>
            <option>Afganisthan</option>
            <option>Iran</option>
            <option>Kulumbia</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">State / Emirates <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">City <span style="color: red;">*</span></label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Dubai</option>
            <option>Newyork</option>
            <option>Houston</option>
            <option>Sydney</option>
            <option>Miami</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mt-20">
      <h4 class="subheadingText">Documents</h4>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">National ID <span style="color: red;">*</span></label>
          <div class="upload-btn-wrapper">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <button class="btn-uploader"><span>Upload</span> &nbsp; <i class="fa-solid fa-arrow-up-from-bracket"></i></button>
            <input type="file" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">National ID Expiry Date <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Passport <span style="color: red;">*</span></label>
          <div class="upload-btn-wrapper">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <button class="btn-uploader"><span>Upload</span> &nbsp;<i class="fa-solid fa-arrow-up-from-bracket"></i></button>
            <input type="file" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Passport Expiry Date <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Visa <span style="color: red;">*</span></label>
          <div class="upload-btn-wrapper">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <button class="btn-uploader"><span>Upload</span> &nbsp;<i class="fa-solid fa-arrow-up-from-bracket"></i></button>
            <input type="file" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Visa Expiry Date <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Visa <span style="color: red;">*</span></label>
          <div class="upload-btn-wrapper">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <button class="btn-uploader" id="FileUploaderDropdown" data-bs-toggle="dropdown" aria-expanded="false">View &nbsp;<i class="fa-solid fa-arrow-up-from-bracket"></i></button>
            <div class="dropdown-menu animate slideIn drop-down-menu-file-uploaded" data-bs-auto-close="outside" aria-labelledby="FileUploaderDropdown">
              <div style="display:inline-block;width:100%;">
                <a class="button_close"><img src="assets/images/close_icon.svg"></a>
              </div>
              <form class="">
                <div class="form-group">
                  <span class="file__uploaded__name__label__block">
                    <p>Passport Front.jpg</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                  <span class="file__uploaded__name__label__block">
                    <p>Emirates ID Front side.jpg</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="form-group">
                  <label for="exampleDropdownFormEmail1">File Name</label>
                  <input type="email" class="form-control" id="exampleDropdownFormEmail1">
                </div>
                <div class="dragNdrop-wrapper">
                  <p>Drag and drop file here</p>
                  <button class="btn btn--file-upload-sm">Upload</button>
                </div>
                <p class="accptdFileSize">Accepted file types JPEG, PNG</p>
                <button class="btn btn--file-upload-save">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-6">
        <div class="form-group">
          <div class="upload-btn-wrapper">
            <button type="button" class="btn-wishlist" id="FileUploaderDropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-heart"></i></button>
            <div class="dropdown-menu animate slideIn drop-down-menu-file-uploaded" data-bs-auto-close="outside" aria-labelledby="FileUploaderDropdown">
              <div style="display:inline-block;width:100%;">
                <a class="button_close"><img src="assets/images/close_icon.svg"></a>
              </div>
              <form class="">
                <div class="form-group">
                  <span class="file__uploaded__name__label__block">
                    <p>Passport Front.jpg</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                  <span class="file__uploaded__name__label__block">
                    <p>Emirates ID Front side.jpg</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="form-group">
                  <label for="exampleDropdownFormEmail1">File Name</label>
                  <input type="email" class="form-control" id="exampleDropdownFormEmail1">
                </div>
                <div class="dragNdrop-wrapper">
                  <p>Drag and drop file here</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>-->
      </div>
    <div class="row">
      <button  type="button" class="btn btn-btn-primary btn-book-this" >Book This Property</button>
      </div>
      </div>
    </div>
