<section class="footer-bottom">
  <img class="lined_city_bg" src="assets/images/building_line.png" />
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 col-md-12 col-sm-6 col-12">
        <div class="footer-logo">
          <img src="assets/images/footer-logo.svg" />
        </div>
      </div>
      <div class="col-xl-2 col-md-6 col-sm-6 col-12">
        <ul class="footer__menu__item">
          <li><span>Company</span></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-xl-2 col-md-6 col-sm-6 col-12">
        <ul class="footer__menu__item">
          <li><span>Services</span></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xl-2 col-md-6 col-sm-6 col-12">
        <ul class="footer__menu__item">
          <li><span>Customer Care</span></li>
          <li><a href="#">info@propertyapp.ae</a></li>
          <li><a href="#">+973 5536214587</a></li>
        </ul>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-6 col-12">
        <ul class="footer__menu__item">
          <li><span>Address</span></li>
          <li><a href="#">Deira, Dubai, UAE</a></li>
          <li><a href="#">+973 5536214587</a></li>
        </ul>
        <div class="app-store-playstore">
          <a href=""><img src="assets/images/playstore.svg" /></a>
          <a href=""><img src="assets/images/appstore.svg" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
